
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Yakob</p>
  </div>
</div>
<script>
  function myFunction() {
   var element = document.body;
   element.classList.toggle("dark-mode");
   element.classList.toggle("dark-mode h2");
}
function myFunction2(x) {
  x.classList.toggle("fa-moon-o");
}
</script>
</body>
</html>
