body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }

 /* .dark-mode */

  .dark-mode {
    background-color: black;
    color: white;
  }
  .dark-mode h2{
  color:white;
  }


  /* nav */

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 1px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

 /* footer */
.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

/* =============== */
hr{
    background-color:none;
    border-style: dotted none none;
    border-width: 5px;
    border-color: grey;
    width: 4%;
  } 
  /* ==================== */

  
  .Postedp {
    font-weight: normal;
  font-family: 'monteserrat', sans-serif;
     width: 70%; 
    margin:auto;
    padding-bottom: 10px;
}
p{
  font-weight: normal;
font-family: 'monteserrat', sans-serif;
  
  margin:auto;
  padding-bottom: 10px;
}

/* ===================== */

h1{
    color: #66BfBf;
    font-weight: normal;
    font-family: 'monteserrat', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
    text-align: center;
  }
 

